body {
    margin: 20;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150;
}

.card {
    width: 400;
    margin: 0 auto;
    padding: 20;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #dad7cd;
    color: #2b2839;
    border-bottom: 6 solid #588157;

    .card:hover {
    color: #2b2839;
    background: #588157; 
    border-bottom: 6 solid #dad7cd
}

